<ul>
    <li><a href="/">Zalora Main</a></li>
    <li><a href="/itemin">Zalora In</a></li>
    <li><a href="/itemout">Zalora POD</a></li>
    <li><a href="/reentry">Re-Entry</a></li>
    <li><a href="/pharmacyin">Pharmacy Inventory</a></li>
    <li><a href="/pharmacyout">Pharmacy POD</a></li>
    <li><a href="/grpmy">GRP Malaysia</a></li>
    <li><a href="/dispatch">Dispatcher Report</a></li>
    <li><a href="/central">General Tracker</a></li>
</ul>