<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>success</title>
</head>
<body>

    <h1><=% error_code %></h1>
    <h3><=% head %></h3>
    <h5><=% message %></h5>
    <h5><=% solution %></h5>

</body>
</html>

